body {
  background: #7dd3fc;
  font-family: 'Comic Sans MS', 'Arial Rounded MT Bold', cursive;
}

/* container */
.card-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-wrap: wrap;
}

/* card */
.card-cartoon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  background: #fff;
  border: 4px solid #222;
  border-radius: 24px;
  box-shadow: 0 10px 0 #222;
  overflow: hidden;
  transition: transform 0.2s ease;
  margin:10px;
}

.card-cartoon:hover {
  transform: translateY(-6px);
}

/* image */
.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 4px solid #222;
  background: #fde68a;
}

/* body */
.card-body {
  padding: 18px;
  text-align: center;
  
}

.card-body h4 {
  font-size: 20px;
  margin-bottom: 8px;
}

.card-body p {
  font-size: 14px;
  margin-bottom: 16px;
  color: #333;
}

/* cartoon button */
.btn-cartoon {
  font-size: 18px;
  padding: 12px 28px;
  margin: 10px;
  border-radius: 16px;
  border: 3px solid #222;
  background: linear-gradient(145deg, #ffcc00, #ff9900);
  color: #222;
  cursor: pointer;
  box-shadow: 0 5px 0 #b36b00;
  transition: all 0.15s ease;

}

.btn-cartoon:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 0 #b36b00;
}

.btn-cartoon:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 #b36b00;
}
.footer-fixed {
  position: fixed;
  line-height: 0.2;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0f172a;
  color: #e5e7eb;
  text-align: center;
 padding-top: 0px;
 padding-bottom: 12px;
  font-size: 14px;
  z-index: 999;
}