.topnav {
  position: fixed;
  top: 10px;
  left: 0;
 
  height: 60px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
   font-family: 'Courier New', Courier, monospace; 

 
  z-index: 999;
}

/* SCORE & LIFE */
.score-box,
.life-box {
  /* background: #fff3cd; */
  padding: 8px 16px;
  border-radius: 20px;

  font-size: 50px;
  font-weight: bold;
  color: white;
}

/* Animasi score naik */
.score-box span {
  color: white;
}